<!DOCTYPE html>
<html>

<head>
  <title>Administrator</title>
  <link rel="stylesheet" href="../static/css/admin.css">
</head>

<body>
  <div class="navigation">
    <nav>
      <p class="head">Administrator</p>
    </nav>
  </div>
  <div class="boxes">
    <a href="/admin/models">
      <div class="box">
        <p>Train and Deploy New Model</p>
      </div>
    </a>
    <div class="box">
      <p>Retrain Existing Model</p>
    </div>
    <a href="/table">
      <div class="box">
        <p>User Management</p>
      </div>
    </a>
    <a href="/deploy_upload">
      <div class="box">
        <p>Use a Deploy Model</p>
      </div>
    </a>
  </div>
</body>

</html>