<!DOCTYPE html>

<html>

<head>
    <title>For loop in Flask</title>
    <style>
        li {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <h2>Please select your models</h2>
    </div>
    <br>
    <div>
        <form id="myForm" action="/model_results" method="post">

            {%for i in range(0, len_)%}
            <div>
                <button name="{{values[i]}}" type="submit">{{values[i]}}</button>
            </div>
            <br>
            {%endfor%}

        </form>
    </div>

</body>

</html>