<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <link rel="stylesheet" href="../static/css/models.css">
</head>

<body>
  <div class="navigation">
    <nav>
      <ul class="list">
        <li class="head">Users</li>
        <li class="list-item"><a href="/users/models">Models</a></li>
        <li class="list-item"><a href="/users/templates">Templates</a></li>
      </ul>
    </nav>
  </div>
  <div class="boxes">
    <a href="/upload">
      <div class="box">
        <p>Train and Deploy New Model</p>
      </div>
    </a>
    <a href="#">
      <div class="box">
        <p>Retrain Existing Model</p>
      </div>
    </a>
    <a href="/deploy_upload">
      <div class="box">
        <p>Use a Deploy Model</p>
      </div>
    </a>
  </div>
</body>

</html>